#sect1 {
    #sect1 {
        height: 650px;
        color:  #fff;
        background-image: url("/assets/360_F_420267495_AjubdkJbbNwMKK2k7R7vqel3PdIOKjPL");
        background-size: 100%;
        background-size: cover;
      }
  }