<app-admin-header></app-admin-header>
<h1 class="header-title">Add New Teacher</h1>


<form (ngSubmit)="saveTeacher(newTeacherForm)" #newTeacherForm="ngForm" class="create-container">
    
    <input type="text" name="f_n" placeholder="Enter First Name of Teacher" ngModel><br>

    <input type="text" name="l_n" placeholder="Enter Last Name of Teacher" ngModel><br>

    <input type="text" name="e_m" placeholder="Enter Email Address" ngModel><br>

    <input type="number" name="c_one" placeholder="Enter First Course ID" ngModel><br>

    <input type="number" name="c_two" placeholder="Enter Second Course ID" ngModel><br>

    <button class="btn btn-color">Save Teacher</button>

</form>
