<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Goblin+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">


<h1 class="title">Chatham Evening School</h1>

<div class="info" style="background: url(/assets/360_F_420267495_AjubdkJbbNwMKK2k7R7vqel3PdIOKjPL.jpg); background-size: cover;">
<p>
    The Chatham Evening School is a beacon of educational opportunity, catering specifically to individuals seeking to excel in their Caribbean Secondary Education Certificate (CSEC) and 
    Caribbean Advanced Proficiency Examination (CAPE) studies. Offering a diverse range of courses, from core subjects to specialized electives, the school provides a flexible learning 
    environment tailored to the needs of working adults and students balancing other commitments. With experienced educators and comprehensive resources, students are equipped
     with the knowledge and skills necessary to achieve academic success and pursue their aspirations with confidence. Whether aiming for academic advancement, career enhancement, 
     or personal enrichment, the Chatham Evening School empowers learners to reach their full potential and unlock a world of opportunities.
</p>
<div class="move">
    <a type="button" class="btn" routerLink="/student-dashboard">Student Dashboard</a><br>
    <a type="button" class="btn" style="--c:#5a1414; color: #ffb612;" routerLink="/view-students">Admin Dashboard</a>
</div>
</div>

<div class="move">
    <a type="button" class="btn" style="--c:#648148" routerLink="/register">Register</a>
</div>


<div class="move2">
    <h2 style="text-align: left;">Courses</h2>

    <div class="card">
        <img src="https://img.freepik.com/premium-vector/math-formula-blackboard-isolated_1639-26790.jpg" alt="Avatar" style="width:100%">
        <div class="container">
            <h4><b>Mathematics</b></h4>
            <p></p>
        </div>
    </div>


    <div class="card">
        <img src="https://i.pinimg.com/474x/3c/c0/c3/3cc0c34c35405b8b2c6ae7b5e9cbae9b.jpg" alt="Avatar" style="width:100%">
        <div class="container">
            <h4><b>English Language</b></h4>
            <p></p>
        </div>
    </div>


    <div class="card">
        <img src="https://st2.depositphotos.com/46234814/44380/i/450/depositphotos_443809140-stock-photo-chemistry-icons-chalkboard-chemistry-education.jpg" alt="Avatar" style="width:100%">
        <div class="container">
            <h4><b>Chemistry</b></h4>
            <p></p>
        </div>
    </div>


    <div class="card">
        <img src="https://t3.ftcdn.net/jpg/02/10/78/42/360_F_210784207_Q2NmyZOFf4LCCvhf28ekAtRTTDAXRU3i.jpg" alt="Avatar" style="width:100%">
        <div class="container">
            <h4><b>Physics</b></h4>
            <p></p>
        </div>
    </div>
</div>

<!-- #E95A49 -->
