.header{
    background-color: #5a1414;
    color: #ffb612;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 30px;
}

.header a{
    text-decoration: none;
    color: inherit;
}