<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<div class="back">
    <app-admin-header></app-admin-header>
    <table>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Course One</th>
            <th>Course Two</th>
            <th>Course Three</th>
            <th>Balance</th>
            <th>Actions</th>
        </tr>

        <tr *ngFor="let student of students">
            <td>{{student['first_nm']}} {{student['last_nm']}}</td>
            <td>{{student['email']}}</td>
            <td>{{student['course_one']}}</td>
            <td>{{student['course_two']}}</td>
            <td>{{student['course_three']}}</td>
            <td>{{student['balance'] | currency}}</td>
            <td class="action-links">
                <a routerLink="/view-student/{{ student['id'] }}" class="btn btn-light">View</a>
                <a routerLink="/update-student/{{student['id']}}" class="btn btn-light">Update</a>
                <a routerLink="/delete-student/{{student['id']}}" class="btn btn-light">Delete</a>
                <a routerLink="/payment/{{student['id']}}" class="btn btn-light">Payment</a>
            </td>
        </tr>
    </table>

    <div class="add-student">
        <a routerLink="/create" class="btn btn-color">Add New Student</a>
    </div>
</div>