
<app-admin-header></app-admin-header>

<h1 class="header-title">View Teacher Information</h1>

<div *ngIf="hasData" class="info-container">
    <p><b>Teacher Name: </b>{{teacher['first_nm']}} {{teacher['last_nm']}}<br></p>
    <p><b>Teacher Email: </b>{{teacher['email']}}<br></p>
    <p><b>First Course Teaching: </b>{{teacher['course_one_name']}}<br></p>
    <p><b>Second Couse Teaching: </b>{{teacher['course_two_name']}}<br></p>
</div>

<div *ngIf="!hasData">
    <h2>No Data To Show</h2>
</div>
