<app-admin-header></app-admin-header>
<h1 class="header-title">Delete Student</h1>

<form (ngSubmit)="deleteStudent(studentForm)" #studentForm="ngForm" class="delete-container">

    <!-- <label for="f_n"><h3>First Name: </h3></label>
    <input type="text" name="f_n" ngModel><br>

    <label for="l_n"><h3>Last Name: </h3></label>
    <input type="text"name="l_n" ngModel><br>

    <label for="e_m"><h3>Email Address:  </h3></label>
    <input type="text" name="e_m" ngModel><br>

    <label for="s_t"><h3>Course One:  </h3></label>
    <input type="text" name="c_one" ngModel><br>

    <label for="s_t"><h3>Course Two:  </h3></label>
    <input type="text" name="c_two" ngModel><br>

    <label for="s_t"><h3>Course Three:  </h3></label>
    <input type="text" name="c_three" ngModel><br>

    <label for="b_l"><h3>Balance Remaining:  </h3></label>
    <input type="text" name="b_l" ngModel><br> -->

    <div class="info-container">
        <p><b>Student Name: </b>{{student['first_nm']}} {{student['last_nm']}}<br></p>
        <p><b>Student Email: </b>{{student['email']}}<br></p>
        <p><b>Course One: </b>{{student['course_one']}}<br></p>
        <p><b>Course Two: </b>{{student['course_two']}}<br></p>
        <p><b>Course Three: </b>{{student['course_three']}}<br></p>
        <p><b>Balance Owed: </b>{{student['balance'] | currency}}<br></p>
    </div>

    <button class="btn btn-color ">Delete</button>

</form>

<div class="danger" *ngIf="hasError">
    Error Updating
</div>

