<app-admin-header></app-admin-header>
<h1 class="header-title">Delete Student</h1>

<form (ngSubmit)="deleteStudent(studentForm)" #studentForm="ngForm" class="delete-container">

    <div class="info-container">
        <p><b>Student Name: </b>{{student['first_nm']}} {{student['last_nm']}}<br></p>
        <p><b>Student Email: </b>{{student['email']}}<br></p>
        <p><b>Course One: </b>{{student['course_one']}}<br></p>
        <p><b>Course Two: </b>{{student['course_two']}}<br></p>
        <p><b>Course Three: </b>{{student['course_three']}}<br></p>
        <p><b>Balance Owed: </b>{{student['balance'] | currency}}<br></p>
    </div>

    <button class="btn btn-color ">Delete</button>

</form>

<div class="danger" *ngIf="hasError">
    Error Updating
</div>

